*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Marker Felt";
}
h1 {
  font-size: 4.5rem;
  border-bottom: 1px solid palevioletred;
  /* color: aqua; */
}
h2 {
  font-size: 2.5rem;
  color: palevioletred;
}

p {
  color: gray;
}

.h1-tittle {
  color: palevioletred;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.3); */
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 40vh;
  /* background-color: bisque; */
  /* background-image: url("./image/FirstPage-01.jpg"); */
  background-size: 100%;
  background-repeat: no-repeat;
}

.container {
  margin-top: 20px;
}

.hide {
  display: none;
}

.btn {
  margin-top: 10px;
  font-size: 20px; /* Increase the font size for bigger buttons */
  padding: 20px 35px; /* Adjust the padding for bigger buttons */
  background-color: tan;
}

.btn-grid {
  display: grid;
  gap: 20px; /* Add a gap between buttons */
  margin-top: 200px;
}

.btn-grid button {
  margin-top: 0; /* Reset margin-top for individual buttons */
}

.center-tittle {
  margin: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  /* -ms-transform: translate(-30%, -50%); */
  transform: translate(-50%, -50%);
}

.container {
  width: 800px;
  max-height: 100%;
  max-width: 100%;
  /* background-color: white; */
  padding: 10px;
  border-radius: 5px;
  /* box-shadow: 0 0 10px 2px; */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.answer {
  cursor: pointer;
}

#result-container {
  margin-top: 50px;
}
